  
@import '~antd/dist/antd.css';


.App {
  text-align: center;
  background-color:  #282c34;
  color:white;
}
html,body,#root{
  height:100%;
  position: fixed;
  background-color: #282c34;
  top: 0;left: 0;bottom: 0;right: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:0.3rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input{
height: 60%;
display: flex;

}



